argcomplete==1.11.0
google-cloud-storage>=2.8.0
langchain>=0.0.179
markdownify>=0.11.6
openai>=0.27.2,<1.0.0
qdrant-client>=1.1.1
packaging==20.3
pre-commit>=2.18.1
regex>=2022.8.17
rich>=12.6.0
setuptools>=45.2.0
tqdm>=4.64.1
